body {
    background-color: white;
    font-family: 'VT323', Monospace;
    font-size:1em;
}

#header {
    background-color:black;
    color:white;
    Padding:10px;
    Margin-bottom:0px;
    font-size:3em;
}

.gray{
    background-color: lightgrey;
    font-size:2em;
}

.white{
    background-color: white;
    font-size:2em;
}

.blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
